# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CarsReact.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Viktors.Matrosovs\RiderProjects\CarsReact\.idea\.idea.CarsReact\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
